{
  "presets": ["@babel/preset-env", "@babel/preset-react", "react-app"],
  "plugins": [
    [
    "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "context": "./src/context",
          "mock": "./src/mock",
          "public": "./public",
          "atoms": "./src/atoms",
          "molecules": "./src/molecules",
          "organisms": "./src/organisms",
          "pages": "./src/pages",
          "templates": "./src/templates",
          "utils": "./src/utils"
        }
      }
    ],
    [
      "@babel/plugin-proposal-private-methods",
      {
        "loose": true
      }
    ]
  ]
}